{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">Clusters de {{nombre_y_tipo_activo.tipo_activo}} {{nombre_y_tipo_activo.nombre_puente}}</h1>
    <h2 class="subtitle"></h2>
    <br>
    <div class="row">
        <table class="table table-hover clickable-row sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>                    
                </tr>
            </thead>
            <tbody>
                {% for i in clusters %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.nombre}}</td>
                        <td>
                            <form action="{{url_for('views_api.sensores_cluster',id_cluster = i.id)}}" method="GET">
                                <button class="btn btn-secondary btn-sm" type="submit" id="sensores_cluster" value="{{i.id}}">Sensores</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}