{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">DAQs de {{nombre_y_tipo_activo.tipo_activo}} {{nombre_y_tipo_activo.nombre_puente}}</h1>
    <h2 class="subtitle"></h2>
    <div class="row">
        <div class="col-md-2">
            {% if current_user.permisos == 'Administrador' or current_user.permisos == 'Dueño' %}
                <form action="#">
                    <button class="btn btn-secondary btn-sm">Añadir nuevo DAQ</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <table class="table table-hover clickable-row sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Último estado</th>
                    <th>N° de canales</th> 
                    <th>Características</th>                   
                </tr>
            </thead>
            <tbody>
                {% for i in daqs %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.detalles}} - {{i.fecha_estado}}</td>
                    <td>{{i.nro_canales}}</td>
                    <td>{{i.caracteristicas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}