{% extends "base.html" %}

{% block content %}
<style>
    table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
table td {
    border: 1px solid #ccc;
}
table .absorbing-column {
    width: 100%;
}
.btn{
    width: 100%;
}
</style>
<div class="bg" style="padding-top: 55px; height: 100%;">
    <div class="container px-5 py-5">
        <h1 class="title py-3">Historial de DAQ N° {{ id_daq }} en {{nombre_y_tipo_activo.tipo_activo}} {{nombre_y_tipo_activo.nombre_puente}}</h1>
        <div class="row">
            <div class="col-md-2">
                <form action="{{url_for('views_api.actualizar_estado_daq',id_daq = id_daq)}}">
                    <button class="btn btn-secondary btn-sm">Actualizar estado</button>
                </form>
            </div>                     
        </div>
        <div class="row py-3 table-responsive">
            <table class="table table-striped table-hover clickable-row sortable">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in estados %}
                    <tr>
                        <td>{{ i.fecha_estado.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ i.detalles }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}