{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">Sensores del grupo "{{nombre_grupo}}"</h1>
    <h2 class="subtitle"></h2>
    <br>
    <div class="row">
        <table class="table table-hover clickable-row sortable">
            <thead>
                <tr>
                    <th>Tipo de sensor</th>
                    <th>Estructura</th>
                    <th>Zona</th>
                    <th>Añadido en</th>                    
                </tr>
            </thead>
            <tbody>
                {% for i in sensores %}
                    <tr>
                        <td>{{i.tipo_sensor}}</td>
                        <td>{{i.tipo_activo}} {{i.nombre}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.fecha_creacion}} Hz</td>
                        {% if current_user.permisos != 'Visita' %}
                            <td>
                                <form action="{{url_for('views_api.obtener_lecturas',sensor=i.id)}}" method="GET">
                                    <button class="btn btn-secondary btn-sm" type="submit" id="lecturas" value="{{i.id}}">Lecturas</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{url_for('views_api.historial_estado_sensor',id_sensor=i.id_sensor)}}" method="GET">
                                    <button class="btn btn-secondary btn-sm" type="submit" id="historial" value="{{i.id_sensor}}">Historial</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{url_for('views_api.historial_calibraciones_sensor',x=i.id_sensor)}}" method="GET">
                                    <button class="btn btn-secondary btn-sm" type="submit" id="calibraciones" value="{{i.id_sensor}}">Calibraciones</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}